.about {
    width: 100%;
    margin-top: 80px;
    margin-left: 120px;
}

.about-me, .skills  {
    padding: 10px;
    color: wheat;
    max-width: 400px;
}

.title {
    color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.language {
    float: right;
    margin-right: 30%;
    padding: 20px;
    font-size: 18px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

.about-me-ani {
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2px 4px;
    font-size: 53px;
    font-family: 'Courier New', Courier, monospace;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.about-me-ani:hover {
    transform: translate(-2px);
    -webkit-transform: translate(-2px);
    -moz-transform: translate(-2px);
    -o-transform: translate(-2px);
}

.lang {
    background-color: transparent;
    width: 300px;
    border: 15px solid transparent;
    padding: 50px;
    margin: 20px;
    color: white;
    margin-left: 0;
}

.react {
    position: relative;
    animation: mymove 5s infinite;
}

.html {
    position: relative;
    animation: html 5s infinite;
}

.node {
    position: relative;
    animation: node 5s infinite ;
}

.css {
    position: relative;
    animation: css 5s infinite;
}

.js {
    position: relative;
    animation: js 5s infinite;
}

.mysql {
    position: relative;
    animation: mysql 5s infinite;
}

.word {
    position: relative;
    animation: word 5s infinite;
}

.git {
    position: relative;
    animation: git 5s infinite;
}

.npm {
    position: relative;
    animation: npm 5s infinite;
}

.sass {
    position: relative;
    animation: sass 5s infinite;
}

@keyframes mymove {
    0%       { transform: translateX(100px) translateY(0px) }
    100%     { transform: translateX(0px) translateY(200px) }
}

@keyframes html {
    0%       { transform: translateX(0px) translateX(0px) }
    100%     { transform: translateX(100px) translateX(200px) }
}

@keyframes node {
    0%       { transform: translateX(0px) translateY(200px) }
    100%     { transform: translateX(100px) translateY(00px) }
}

@keyframes css {
    0%       { transform: translateX(200px) translateY(150px) }
    100%     { transform: translateX(100px) translateY(-40px) }
}

@keyframes js {
    0%       { transform: translateX(200px) translateY(150px) }
    100%     { transform: translateX(0px) translateY(0px) }
}

@keyframes mysql {
    0%       { transform: translateX(0px) translateX(0px) }
    100%     { transform: translateX(100px) translateX(200px) }
}

@keyframes word {
    0%       { transform: translateX(200px) translateY(-100px) }
    100%     { transform: translateX(50px) translateY(50px) }
}

@keyframes git {
    0%       { transform: translateX(0px) translateY(-100px) }
    100%     { transform: translateX(200px) translateY(50px) }
}

@keyframes npm {
    0%       { transform: translateX(200px) translateY(-200px) }
    100%     { transform: translateX(100px) translateY(50px) }
}

@keyframes sass {
    0%       { transform: translateX(300px) translateY(0px) }
    100%     { transform: translateX(00px) translateY(-150px) }
}

@media all and (max-width: 800px) {
    .about {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .about-me {
        font-size: 12px;
        max-width: 75%;
    }

    .skills {
        font-size: 12px;
        max-width: 80%;
    }

    .contact-me {
        font-size: 60%;
    }

    .about-me-ani {
        font-size: 30px;
    }
}




