* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li, .nav-link {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
}

 .nav-link:hover {
    color: rgb(180, 154, 154);
    transition: all 0.2s ease-out;
}

.fade-appear, 
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms linear 1500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1500ms linear;
}

.my-logo {
    height:60px;
    max-width: 200px;
    width: 100%;
    float: left;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 8px 16px;
    align-items: center;
    min-height: 10vh;
    color: #c2aeae;
}


nav .navbar-nav-mr-auto {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
nav .navbar-nav-mr-auto .nav-link {
    font-size: 15px;
    font-weight: bold;
}

nav .navbar-nav-mr-auto .nav-link:hover {
    border-bottom: 1px solid wheat;
}

nav .bars {
    font-size: 30px;
    display: none;
}

@media all and (max-width: 1050px) {
    nav .bars {
        display: block;
        cursor: pointer;
    }

    nav .navbar-nav-mr-auto {
        display: block;
        position: absolute;
        top: 0;
        background: brown;
        left: 0;
        height: 100vh;
        padding: 40px;
        transform: translateX(-300px);
        transition: 0.5s ease-in-out;
    }



    nav .navbar-nav-mr-auto li {
        padding: 25px;
        border-bottom: 1px solid #ccc;
        display: table;
    }

    nav .navbar-nav-mr-auto li:last-of-type {
        border-bottom: none;
    }

    nav .navbar-nav-mr-auto .nav-link:hover {
        border-bottom: 0px solid wheat;
    }

    .fa-times {
        font-size: 1.5rem;
    }
    
}